<nav class="flex-nav">
    <ul>
        <li><a href="/personInfo">个人资料</a></li>
        <li><a href="#">Item 02</a></li>
        <li><a href="#">Item 03</a></li>
        <li><a href="#">Item 04</a></li>
        <li><a href="#">Item 05</a></li>
        <li><a href="/moocs"><i class="fa fa-laptop"></i> <span>慕课</span></a></li>
        <li class="social"><a href="#"><i class="fa fa-qq"></i></a></li>
        <li class="social"><a href="#"><i class="fa fa-github"></i></a></li>
        <li class="social"><a href="#"><i class="fa fa-google"></i></a></li>

    </ul>
</nav>
<div class="contentbar">
    <div class="chatWindow">
        <div class="chat-head">
            <div class="chatPerson">
                <img src="/images/zengruiru.jpg">
                <div class="chat-name">
                    <span class="overhide">在下曾瑞乳</span>
                    <span class="overhide" style="font-size: 12px;">秘籍，左右横跳！！！！！！！！！！！！！</span>
                </div>
            </div>
            <div class="chat-close">
                <i class="fa fa-close fa-lg"></i>
            </div>
        </div>
        <div class="chat-content">
            <div class="chat-line">
                <img src="/images/zengruiru.jpg">
                <div class="chat-lineContent">
                    哈哈哈
                </div>

            </div>
            <div class="chat-line-receiver">
                <img src="/images/icon.jpg">
                <div class="chat-lineContent">
                    嘻嘻嘻
                </div>

            </div>

        </div>

        <div class="chat-input">
            <textarea class="textarea input-content" style="resize:none;"></textarea>
        </div>
        <div class="send-message">
            <button class="button button-raised button-pill button-inverse button-small">发送</button>
        </div>
    </div>
    <section class="content-header">
        <h1>
            下面是很多文章
            <small>这部分先抄老师的，待来日自己改</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 日记</a></li>
            <li class="active">Content</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        {{#each entries}}
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <img class="img-circle" src="{{author.imgUrl}}" alt="User Image">
                        <span class="title"><a href="/pdf/readPdf/{{_id}}">{{title}}</a></span>
                        <span class="postdate"><b>发布于 {{formatDate meta.createAt}}</b><i>{{timeFromNow meta.createAt}}</i></span>
                    </div>
                </div>
                <div class="box-body box-limit">
                     {{{content}}}
                </div>
                <div class="box-menu">
                    <a href="/pdf/{{_id}}" class="btn btn-primary btn-sm">导出pdf</a>
                    <a href="/pdf/readPdf/{{_id}}" class="btn btn-primary btn-sm">Read More</a>
                </div>
                {{#each children}}
                    {{#display @index ../CommentNow}}
                        <div class="box-comment">
                            <div class="comment-info">
                                <img class="img-circle" src="{{author.imgUrl}}">
                                <span>这里是名字</span>
                            </div>
                            <div class="comment-content">
                                <p>{{content}}</p>
                                <span class="postdate">发布于 {{formatDate meta.createAt}}</span>
                            </div>
                        </div>
                    {{else}}
                            <div class="box-comment" style="display: none">
                                <div class="comment-info">
                                    <img class="img-circle" src="{{author.imgUrl}}">
                                    <span>这里是名字</span>
                                </div>
                                <div class="comment-content">
                                    <p>{{content}}</p>
                                    <span class="postdate">发布于 {{formatDate meta.createAt}}</span>
                                </div>
                            </div>
                    {{/display}}
                {{/each}}
                <div class="commentDivide">
                    <ul class="pagination">
                        {{#times cmtPgCt 1 cmtPgCt}}
                            <li {{#equals CommentNow this.step}}class="active" {{/equals}}>
                                <a class="divide">{{step}}</a>
                            </li>
                        {{/times}}
                    </ul>
                </div>
                <form class="box-Addcomment" >
                    <div class="commentId" style="display: none">{{_id}}</div>
                    <textarea class="textarea" id="commentContent" placeholder="评论一下" required></textarea>
                    <button class="btn btn-primary pull-right addComment" >发表</button>
                </form>
            </div>
        {{/each}}

        <div class="box-footer">
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="{{#le pageNumber 1}}?{{else}}?page={{reduce pageNumber 1}}{{/le}}&params={{searchParams}}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{#times pageCount 1 pageCount}}
                        <li {{#equals pageNumber this.step}}class="active" {{/equals}}>
                            <a href="?page={{step}}&params={{searchParams}}{{#if recommend}}&recommend={{recommend}}{{/if}}{{#if type}}&type={{type}}{{/if}}">{{step}}</a>
                        </li>
                    {{/times}}
                    <li>
                        <a href="{{#ge pageNumber pageCount}}?page={{pageCount}}{{else}}?page={{add pageNumber 1}}{{/ge}}&params={{searchParams}}"
                           aria-label="Previous">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>




    </section>






</div>


<script src="/blog/blog.js"></script>