<div class="outer">
    <div class="main">
        <div class="leftBar">
            <div class="iconLine" id="getimg">
                <img src="{{user.imgUrl}}">
                <span id="findName" data-id="{{user._id}}">{{user.username}}</span>

                <div class="opt">
                    <i class="fa fa-list fa-lg"></i>
                </div>
            </div>
            <div class="search">
                <i class="fa fa-search fa-lg" style="position: absolute;top: 13px;left: 19px;color: #fff;font-size: 14px;"></i>
                <input id="searchFri" type="text" placeholder="搜索">
            </div>
            <div class="chooseScrren">
                <div id="history">
                    <i class="fa fa-comment-o fa-lg""></i>
                </div>
                <div id="chooseFrilist">
                    <i class="fa fa-user fa-lg""></i>
                </div>

            </div>
            <div class="list_out">
                <div class="Frilist show">
                    {{#each user.friends}}
                        <div class="FriendInfo">
                            <img src="{{imgUrl}}">
                            <span>{{username}}</span>
                            <div class="msgOffline">
                                <button class="button button-glow button-rounded button-caution" >0</button>
                            </div>
                        </div>
                    {{/each}}
            </div>
                <div class="chatHistory ">
                    <div class="historyInfo">
                        <img src="/images/FriIcon.jpg">
                        <div class="nameAndmsg">
                        <span>
                            tom
                        </span>
                        <span>
                            fuckyou
                        </span>
                        </div>
                        <span id="time">16:53</span>
                    </div>

                </div>

            </div>
            <div id="opt_menu">

            </div>
        </div>
        <div class="rightBar">
            <div class="selectFri">
                <div class="iconLine" id="selfInfo">
                    <span>详细信息</span>
                </div>
                <div class="detailedInfo">
                    <img src="/images/ande.jpg">
                    <div class="username"><span>安德</span><i class="icon iconfont">&#xe601;</i></div>
                    <span class="mood">ass we can</span>
                    <div class="userinfo">
                        <span>备注:  安德</span>
                        <span>地区:  浙江 杭州</span>
                    </div>
                    <button  class="button button-action button-rounded">发送消息</button>
                </div>
                <div class="chatWindow">

                    <div class="chat-content">

                    </div>
                    <div class="tool_bar">
                        <div class="showemoji"><i class="icon iconfont">&#xe600;</i></div>
                        <div class="cutScreen"><i class="icon iconfont">&#xe602;</i></div>
                        <div class="uploadFile"><i class="icon iconfont">&#xe604;</i></div>
                    </div>
                    <div class="chat-input">
                        <textarea class="textarea input-content" style="resize:none;"></textarea>
                    </div>
                    <div class="send-message">
                        <button id="sendMsg" class="button button-raised button-pill button-inverse button-small">发送</button>
                    </div>
                </div>

            </div>
            <button id="addFri" class="button button-glow button-border button-rounded button-primary">添加好友</button>
        </div>
        <div id="addFriList">
            <div class="searchline">
                <i id="startSearch" class="fa fa-search fa-lg" style="position: absolute;top: 13px;left: 19px;color: #fff;font-size: 14px;"></i>
                <input id="searchAddFri" placeholder="搜索" type="text">
            </div>
            <div class="FriInfoList">
                <div class="addFriInfo" data-id="">
                    <img src="/images/quanguanqing.jpg">
                    <span>全冠清</span>
                    <button  class="mkFri button button-primary button-box button-small"><i class="fa fa-plus"></i></button>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    window.scriptData = JSON.stringify({{{scriptData}}});
    window.scriptData=eval("("+window.scriptData+")");//转换为json对象



</script>


<script src="/lib/myjs/myjs.js"></script>
<script src="/wechat/common.js"></script>
<script src="/wechat/chat.js"></script>